@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tabs Container */
.tabs {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

/* Tab List */
.tabList {
	display: flex;
	gap: 0.5rem;
}

.tabList::-webkit-scrollbar {
	display: none;
}

/* Individual Tab */
.tab {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem;
	height: 42px;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.5;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
	position: relative;
	outline: none;
}

.tab.disabled {
	color: #d1d5db;
	cursor: not-allowed;
	opacity: 0.6;
}

.tabLabel {
	display: inline-flex;
	font-weight: bold;
	align-items: center;
}

/* Tab Panel */
.tabPanel {
	padding: 1.5rem 0;
	outline: none;
}

.underline .tab {
	padding: 0.75rem 0;
	border-color: transparent;
}

.underline .tab .tabLabel {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding: 0.75rem 0;
}

.underline .tab:hover:not(.disabled) .tabLabel {
	border-top: 3px solid transparent;
	border-bottom: 3px solid #c4c5cf;
}

.underline .tab:active:not(.disabled) .tabLabel {
	border-top: 3px solid transparent;
	border-bottom: 3px solid #c4c5cf;
}

.underline .tab.selected .tabLabel {
	border-top: 3px solid transparent;
	border-bottom: 3px solid #1b2134 !important;
}

.underline .tab:focus-visible {
	outline: 2px solid #1b2134;
	outline-offset: 2px;
	border-radius: 0.25rem;
}

.underline .tab:focus-visible .tabLabel {
	border-top: 3px solid transparent;
	border-bottom: 3px solid #c4c5cf;
}

/* Variant: Pill */
.pill .tabList {
	border-bottom: none;
	gap: 0.5rem;
	padding: 0.25rem;
	/* background-color: #f3f4f6; */
}

.pill .tab {
	background-color: #fff;
	color: #1b2134;
	border-radius: 6.25rem;
	border: 2px solid #d3d3dc;
	padding: 0.5rem 1rem;
}

.pill .tab:hover:not(.disabled) {
	background-color: #f6f6fa;
	border-color: #c4c5cf;
	color: #1b2134;
}

.pill .tab:active:not(.disabled) {
	background-color: #f1f1f7;
	border-color: #d3d3dc;
	color: #1b2134;
}

.pill .tab.selected {
	background-color: #1b2134;
	border: 2px solid #1b2134;
	color: #fff;
}

.pill .tab.selected:hover:not(.disabled) {
	background-color: #343a4e;
	border-color: #343a4e;
	color: #fff;
}

.pill .tab.selected:active:not(.disabled) {
	background-color: #585d71;
	border-color: #585d71;
	color: #fff;
}

.pill .tab:focus-visible {
	outline-offset: 2px;
	outline: 2px solid #1b2134;
}

/* Media Query: Viewport greater than 765px */
@media (min-width: 769px) {
	.tabList {
		gap: 0.75rem;
	}

	.tab {
		padding: 0.875rem;
		height: 50px;
		font-size: 0.875rem;
	}

	.tabPanel {
		padding: 2rem 0;
	}

	.pill .tab {
		padding: 0.625rem 1.25rem;
	}
}
