:root {
	--background: #fff;
	--content: #222;
}

body {
	background-color: var(--background);
	color: var(--content);
	display: grid;
	font-size: 1rem;
	margin: 0;
	min-height: 100vh;
	place-content: center;
}
